  <ul class="pages">
    <li class="home"><a href="/"><i class="fa fa-home"></i> Home</a></li>
    <li><a href="/projects/masters-thesis/2013/09/14/masters-thesis/"><i class="fa fa-file-text-o"></i>Thesis</a></li>
    <li><a href="/presentations/"><i class="fa fa-desktop"></i>Presentations</a></li>
    <li><a href="/projects/"><i class="fa fa-wrench"></i>Projects</a></li>
    <li><a href="/posts/"><i class="fa fa-archive"></i>All Posts</a></li>
    <li><a href="/search/"><i class="fa fa-search"></i>Search</a></li>
  </ul>
